<html lang="en">
<head>
    <title>{% block title %}Recipe Book{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Recipe Book</a></h1>
        {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit">LOGOUT</button>
            </form>
        {% else %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <button type="submit">LOGIN</button>
            </form>
        {% endif %}
    </header>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
</body>
</html>